{% extends 'base.html.twig' %}

{% block content %}
	<div style="width: 600px; margin: auto; line-height: 60px;">
		<h1 style="font-size: 80px; margin-bottom: 30px;">{{ phrase_data.translation|capitalize }}</h1>
		<h3 style="font-size: 30px"><div style="margin-bottom: 10px;"><strong>{{ phrase_data.language_name|capitalize }}:</strong></div> {{ phrase_data.phrase }}</h3>
		<h3 style="font-size: 30px;"><div style="margin-bottom: 10px;"><strong>Phonetic:</strong></div> {{ phrase_data.phonetic|capitalize }}</h3>
	</div>
{% endblock %}
